/* Basic Reset */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: Arial, sans-serif;
background-color: #1a1a1a;
color: #fff;
line-height: 1.6;
}

header {
display: flex;
justify-content: center;
align-items: center;
padding: 40px 50px;
background-color: #1a1a1a;
}

header nav {
background-color: #333;
border: 2px solid #ff4500;
padding: 10px 20px;
border-radius: 10px;
display: flex;
flex-direction: row;
}

nav .nav-item {
color: #fff;
font-style: normal; /* Changed 'none' to 'normal' for clarity */
margin: 0 15px;
padding: 10px; /* Padding for better spacing */
box-sizing: border-box; /* Ensures padding doesn't affect total size */
position: relative; /* Required for relative positioning */
transition: all 0.3s ease; /* Smooth transitions for hover effects */
display: flex; /* Added to align content properly */
align-items: center; /* Centers icon and text vertically */
justify-content: center; /* Centers content horizontally */

}

nav .nav-item:hover {
background-color: #ff5800; /* Highlight background on hover */
font-weight: bold;
transform: scale(1.1); /* Slight scaling effect */
transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transition */
}



nav .nav-item span {
display: inline-block; /* Ensures proper inline layout */
margin-left: 5px; /* Adds spacing between icon and text */

}

nav .nav-item i {
display: none;
/**font-size: 1.2rem; /* Adjust icon size for better visibility */
width: auto;

}

nav .nav-item:hover i {
transform: scale(1.2); /* Slight scaling effect on hover */
}

.hero {
display: flex;
flex-direction: column;
align-items: center;
padding: 20px;
}

.hero .container{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
padding: 20px;
gap:30vw;
}


.hero .content {
max-width: 100%;
padding:2%;
}


.hero p {
margin-bottom: 20px;
font-size: 18px;
}

.hero h1 {
max-width:100%;
font-size: 3rem;
margin-bottom: 20px;
color: #ff4500;
}


.hero .buttons{
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 20px;
}

.hero .buttons a {
padding: 10px 20px;
text-decoration: none;
border-radius: 5px;
margin-right: 15px;
font-weight: bold;
}


.btn-primary {
background-color: #ff4800;
color: #fff;
}

.btn-secondary {
background-color: transparent;
color: #fff;
border: 2px solid #fff;
}

.hero .stats {
display: flex;
justify-content: center;
margin-top: 50px;
background-color: #333;
padding-left: 40px;
padding-right: 40px;
clear:both;
border-radius: 10px;
float:left;
}

.hero .stats div {
text-align: center;
padding:30px;
}

.hero .stats div h3 {
font-size: 24px;
color: #ff4500;
}

.hero .stats div p {
font-size: 16px;
}

.services {
padding: 50px;
text-align: center;

}

.services h2 {
font-size: 36px;
margin-bottom: 20px;
color: #fff;
}

.services p {
margin-bottom: 40px;
font-size: 18px;
color: #aaa;
}

.service-cards {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20px;
}

.service-card {
background-color: #222;
padding: 20px;
border-radius: 10px;
text-align: center;
}

.service-card h3 {
font-size: 20px;
margin: 20px 0;
color: #ff4500;
}

.service-card p {
color: #aaa;
}

.service-card i {
font-size: 40px;
color: #888; /* Adjust this value for the desired icon color */
}

.about {
padding: 50px;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
}

.about h2 {
width:100%;
font-size: 36px;
margin-bottom: 20px;
color: #fff;
}

.about p {
margin-bottom: 20px;
font-size: 18px;
color: #aaa;
}

.about-content {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
text-align: left;
padding:5%;
}

.about-content .image {
flex: 1;
max-width: 400px;
margin: 20px;
}

.about-content .text {
font-size:18px;
flex: 2;
margin: 20px;
padding-left:30px;
padding-right:30px;
}

.about-content .text p {
color: #aaa;
font-size:18px;
}

.download-cv {
display: inline-block;
padding: 10px 20px;
margin-top: 20px;
background-color: #ff4500;
color: #fff;
text-decoration: none;
border-radius: 5px;
font-weight: bold;
}

.skill-section {
padding: 50px;
background-color: #1a1a1a;
}

.skill-section h2 {
text-align: center;
font-size: 36px;
color: #fff;
margin-bottom: 30px;
}

.skill-container {
display: flex;
flex-wrap:wrap;
gap: 5%;
justify-content: center;
align-items: center;
background-color: #1a1a1a;
padding: 20px;
}

.skill {
text-align: center;
color: white;
font-family: Arial, sans-serif;
position: relative;
padding:1%;
}

.icon-container {
position: relative;
width: 100px;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
}

.skill svg {
position: relative;
width: 140px;
height: 140px;
transform: rotate(90deg);
}

.skill .icon {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 40px;
color: #888; /* Adjust this value for the desired icon color */
}

.skill p {
margin-top: 5px;
font-size: 14px;
color: #aaa;
}

.skill r {
margin-top: 5px;
font-size: 14px;
font-weight: bold;
color: #ff4800;
}

.circle-bg {
fill: none;
stroke: #333;
stroke-width: 3.8;
}

.circle {
fill: none;
/*stroke: #ff4500;*/
stroke:aliceblue;
stroke-width: 3.8;
stroke-linecap: round;
transform: rotate(-90deg);
transform-origin: center;
transition: stroke-dasharray 0.3s ease;
}

/* portfolio section goes here*/

.portfolio {
    padding: 50px;
    text-align: center;    
}

.portfolio-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.web-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.mobile-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
    
.desktop-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.portfolio-card {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.portfolio-card h3 {
    font-size: 20px;
    margin: 20px 0;
    color: #ff4500;
}
    
.portfolio-card p {
    color: #aaa;
}

.portfolio-card i {
    font-size: 40px;
    color: #888; /* Adjust this value for the desired icon color */
}

@media (max-width: 768px) {
    nav .nav-item {
        padding: 5px; /* Reduce padding on smaller screens */
        justify-content: center; /* Center content */
    }

    nav .nav-item span {
        display: none; /* Hide text on smaller screens */
    }

    nav .nav-item i {
        font-size: 1.5rem; /* Increase icon size for better visibility */
        display: inline-block; /* Ensure icons remain visible */
        transition: transform 0.3s ease, font-size 0.3s ease; /* Smooth hover effect */
    }

    .hero {
        flex-direction: column;
    }


    .hero h1 {
        font-size: 32px;
    }

    .hero p {
        font-size: 16px;
    }

    .hero .container{
        flex-direction: column;
    }

    .hero .container .content{
        order: 2;
    }

    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-content .text {
    font-size:18px;
    flex: 2;
    margin: 20px;
    padding-left:10px;
    padding-right:10px;
    }

    .about-content .text p {
    color: #aaa;
    font-size:18px;
    }

    .stats div h3 {
        font-size: 20px;
    }

    .stats div p {
        font-size: 14px;
    }

    .skill-card h3 {
        font-size: 16px;
    }
}